body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Open Sans ", Helvetica, Arial, sans-serif;
        font-size: 17px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/*Bootstrap overrides*/
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}
navbar-brand {
    
    font-weight: 700;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #ff4342;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family:"lato" "Helvetica Neue", Helvetica, Arial, sans-serif;
 
}

.form-group {
    margin-bottom: 20px;
}

.form-control{

        padding: 20px 15px;
            border-radius: 9px;
        font-size: 17px;
}
.form-control:focus {
  
    border-color: #2196F3;
}
.btn{
        padding: 7px 20px;
       border-radius: 9px;
    font-size: 17px;
}


